<!DOCTYPE html>
<html>
    <head>
        <title>Tolly Wood Star</title>
        <link rel="icon" href="{{url_for('static',filename='Letter-T-icon.png')}}" type="image/gif" sizes="16x16">
        <style>
            *{
                text-align: center;
                background-color:black;
                color:rgb(201, 3, 3);
                margin-top:100px;
            }
            button{
                border-radius: 100px;
                width:200px;
                height:100px;
                margin-top:50px;
            }
            button:hover{
                background-color:rgb(68, 56, 56);
            }
            </style>
    </head>
    <body>
            you lost the game if you want to buy life please <a href='http://127.0.0.1:5000/submit'>click</a>
            to return 
            <form action="/moviename"><button>click</button></form>
    </body>
</html>